<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-filepicker" 
    version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>FilePicker</name>
    <js-module name="filepicker" src="www/index.js">
        <clobbers target="FilePicker"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FilePicker">
                <param name="android-package" value="com.ahmedayachi.filepicker.FilePicker"/>
            </feature>
        </config-file>
        <!-- <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:requestLegacyExternalStorage="true"/>
        </edit-config> -->
        <config-file target="AndroidManifest.xml" parent="application"></config-file>
        <source-file src="src/android/FilePicker.java" target-dir="src/com/ahmedayachi/filepicker/FilePicker"/>
    </platform>
    <platform name="browser">
        <js-module src="src/browser/FilePicker.js" name="browserFilePicker">
            <clobbers target="FilePicker"/>
        </js-module>
    </platform>
</plugin>